<html>
  <head>
    <title>Dismae</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="app">
      <div v-if="status">
        <div class="status">{{status}}</div>
      </div>
      <div v-else>
        <button v-on:click="createProjectDialog()">Create New Project</button> <button v-on:click="addProjectDialog()">Add Existing Project</button>
        <ul class="projects">
          <li v-for="project in projects">
            {{ project }} - <button v-on:click="startProject(project)">Start</button> <button v-on:click="removeProject($index)">Remove</button>
          </li>
        </ul>
      </div>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
